
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  ::-webkit-scrollbar {
      width: 4px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: #682EE6;
    }
  
    ::-webkit-scrollbar-track {
      background-color: #C4C0E8;
    }
  
    ::-webkit-scrollbar {
      scrollbar-width: thin;
    }

  html {
    @apply !scroll-smooth
  }
  * {
    @apply font-font 
  }
  b {
    @apply underline font-bold text-secondary
  }
  li {
    @apply list-disc 
  }
  p {
    @apply indent-2
  }
}

@layer components {
  .link {
    @apply underline hover:text-secondary transition-all duration-200 font-light text-lg disabled:opacity-75 disabled:text-secondary disabled:cursor-not-allowed
  };
}